<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu dcjq-parent-li"> <a href="javascript:;" class="dcjq-parent">

                        <i class="fa fa-cube"></i>

                        <span>Usuarios</span>

                        <span class="dcjq-icon"></span>

                    </a>
                </li>
                <!-- SEGUNDO MENU DESPLEGABLE -->
                
                <!-- TERCER MENU DESPLEGABLE -->
                <li class="sub-menu dcjq-parent-li"> <a href="javascript:;" class="dcjq-parent">

                        <i class="fa fa-cube"></i>

                        <span>Producto</span>

                        <span class="dcjq-icon"></span>

                    </a>
                    <ul class="sub">
                        <li><a href="altaProducto.php">Alta Producto</a></li>
                        <li><a href="incrementarInventario.php">Reorden Inventario</a></li>
                    </ul>
                </li>
                <!-- Cuarto MENU DESPLEGABLE -->
                <li class="sub-menu dcjq-parent-li"> <a href="javascript:;" class="dcjq-parent">

                        <i class="fa fa-cube"></i>

                        <span>Reportes</span>

                        <span class="dcjq-icon"></span>

                    </a>
                    <ul class="sub">
                        <li><a href="reporte.php">Reporte Ventas</a></li>
                        <li><a href="inventario.php">Reporte inventario</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>

<style type="text/css">
    .leftside-navigation ul li ul {
        display: none;
    }
    .leftside-navigation ul li a:hover + ul, .leftside-navigation ul li ul:hover {
        display: block;
    }

</style>